{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('create-author') }}" class="btn btn-success">Add new author</a>
    <ul>
        {% for author in authors %}
            <li style="height: 50px">
                <a href="{{ path('articlesByAuthor', {"authorId": author.id} )}}">{{ author.id }}. {{ author.firstname }} {{ author.lastname }} - {{ author.username }}</a>
                <a href="{{ path('edit-author', {"authorId": author.id} )}}" class="btn btn-primary" style="float: right" >Edit</a>
                <hr>
            </li>
        {% endfor %}

        <br>
    </ul>
    <div class="navigation">
        {{ knp_pagination_render(authors) }}
    </div>
    <a href="{{ path('adminPage') }}" class="btn btn-danger">Back to admin</a>
{% endblock %}