<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/app.css') }}" rel="stylesheet" type="text/css">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            {% block btns %}
                <div class="btns-container">
                    {% if is_granted('ROLE_USER') %}
                        <a href="{{ path('logout')}}" class=" btn btn-danger">Logout</a><br>
                    {% else %}
                        <a href="{{ path('auth')}}" class=" btn btn-primary">Login</a><br>
                    {% endif %}
                    <a href="{{ path('user_registration')}}" class=" btn btn-success">Registration</a>
                    <br>
                    <a href="{{ path('homepage')}}" class=" btn btn-default">Home</a>
                    {% block otherbtns %}
                    {% endblock otherbtns %}
                </div>
            {% endblock btns %}
            {% block sidebar %}
                <div class="sidebar">
                    {{ render(controller(
                    'AppBundle:Default:sidebar'
                    )) }}
                </div>
            {% endblock sidebar %}
        {% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
