<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{{ 'Title'|trans }}{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/app.css') }}" rel="stylesheet" type="text/css">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            {% block btns %}
                <div class="btns-container">
                    <a href="{{ path('homepage')}}" class=" btn btn-default">{{ 'Home'|trans }}</a><br>
                    {% if is_granted('ROLE_USER') %}
                        <a href="{{ path('logout')}}" class=" btn btn-danger">{{ 'Logout'|trans }}</a><br>
                    {% else %}
                        <a href="{{ path('user_registration')}}" class=" btn btn-success">{{ 'Registration'|trans }}</a>
                        <br>
                        <a href="{{ path('auth')}}" class=" btn btn-primary">{{ 'Login'|trans }}</a><br>
                    {% endif %}
                    {% block otherbtns %}
                    {% endblock otherbtns %}
                    <div class="lang-btns">
                        <a href="{{ path('set_locale', {"_locale": "en"} )}}" class=" btn btn-banner banner-en"></a>
                        <a href="{{ path('set_locale', {"_locale": "ru"} )}}" class=" btn btn-banner banner-ru"></a>
                        <a href="{{ path('set_locale', {"_locale": "uk"} )}}" class=" btn btn-banner banner-uk"></a>
                    </div>
                </div>
            {% endblock btns %}
            {% block sidebar %}
                <div class="sidebar">
                    {{ render(controller(
                    'AppBundle:Default:sidebar'
                    )) }}
                </div>
            {% endblock sidebar %}
        {% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
