{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper">
        <div class="content all-articles">
            <div class="articles">
                <ul>
                    {% for article in articles %}
                        <li class="article">
                            {#<div class="image">#}
                            {#<img src="images/article1.jpg" alt="article">#}
                            {#</div>#}
                            <div class="article-content">
                                <h2>{{ article.name }}</h2>
                            <span class="date">
                                Posted at {{ article.createdAt|date("M-d-Y") }} by <span class="info">{{ article.author.firstname }} {{ article.author.lastname }}</span> aka <span class="info">{{ article.author.nickname }}</span>
                            </span>

                                <p>
                                    {{ article.articleText }}
                                </p>

                                <div class="adds">
                                    <ul>
                                        <li><a href="#" class="info">{{ article.author.nickname }}</a> /</li>
                                        <li><a href="#" class="info">{{ article.author.firstname }} {{ article.author.lastname }}</a> /</li>
                                        <li><a href="{{ path('articles', {"articleId": article.id} )}}" class="read-more">Read more</a></li>
                                    </ul>
                                    <span class="like">{{ article.mark }}</span>
                                </div>
                            </div>
                        </li>
                        <br>
                    {% endfor %}
                </ul>
            </div>
            <div class="sidebar">
                {{ render(controller(
                'AppBundle:Default:sidebar'
                )) }}
            </div>
        </div>
    </div>
{% endblock %}